/* Base css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #6c6c6c;
}

/* Header */
.header {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  font-weight: 500;
  font-size: 3rem;
  margin-left: 12.5rem;
}
.header__tools {
  flex-shrink: 0;
  margin-right: 12.5rem;
  font-size: 1.8rem;
  font-weight: 300;
}
.header__tools--1 {
  display: inline-block;
}
.header__tools--1:not(:last-child) {
  margin-right: 2rem;
}

/* Main */
.main {
  width: 100%;
  height: 45rem;
  background-image: url("images/WhatsApp Image 2020-04-25 at 23.15.19.jpeg");
  background-size: 100% 100%;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__header {
  font-size: 5.3rem;
  font-weight: 300;
  margin-bottom: 5rem;
}
.main__header--1 {
  font-weight: 600;
}
.main__btn {
  width: 25rem;
  height: 4.5rem;
  border-radius: 5rem;
  background-color: #ec5483;
  color: white;
}

/* Cards*/
.cards {
  width: 100%;
  height: 43rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13.5rem;
}
.cards__layout {
  height: 100%;
  width: 19rem;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10rem;
}
.cards__layout:not(:last-child) {
  margin-right: 3.5rem;
}
.cards__layout--icon {
  font-size: 5rem;
}
.cards__layout--p {
  margin-top: 3rem;
}
.cards__layout--btn {
  font-weight: 500;
  text-decoration: none;
  margin-top: 3.5rem;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 1.5rem;
}

/* Reviews*/
.reviews {
  height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.reviews__box {
  height: 100%;
  width: 28rem;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
}
.reviews__box:not(:last-child) {
  margin-right: 3.5rem;
}
.reviews__box--p {
  padding: 3rem 2rem;
  border: 1px solid rgba(128, 128, 128, 0.205);
}
.reviews__box--p-pointer {
  width: 1rem;
  height: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.205);
  border-right: 1px solid rgba(128, 128, 128, 0.205);
  margin-left: 50%;
  margin-bottom: 2rem;
  margin-top: -0.5rem;
  transform: rotate(45deg) translateY(50%) translateX(-50%);
  background-color: white;
}
.reviews__box--profile {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews__box--imgBox {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
.reviews__box--img {
  height: 100%;
  backface-visibility: hidden;
}

/* Video*/
.video {
  height: 40rem;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.video__window {
  width: 64rem;
  height: 33.5rem;
}

/* Posts*/
.pics {
  height: 40rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.pics__post {
  height: 39rem;
  width: 28rem;
}
.pics__post:not(:last-child) {
  margin-right: 4rem;
}
.pics__post--img {
  width: 100%;
  height: 23rem;
  margin-bottom: 3.5rem;
}
.pics__post--cap1 {
  font-weight: 500;
  display: block;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.pics__post--cap2 {
  font-weight: 300;
  display: block;
  font-size: 1.3rem;
  margin-bottom: 9.5rem;
}

/* Nav*/
.nav {
  height: 61.8rem;
  width: 100%;
  background-image: url("images/WhatsApp Image 2020-04-25 at 23.56.59.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 5rem;
  position: relative;
}
.nav__block {
  width: 60rem;
  height: 32.2rem;
  background-color: #dee2ebc9;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav__el {
  width: 28rem;
  height: 15rem;
  font-size: 1.2rem;
  display: flex;
  flex-flow: row;
  padding: 2rem;
}
.nav__el--icon {
  font-size: 3rem;
  margin-right: 2rem;
}
.nav__el--p {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}
.nav__el--btn {
  font-weight: 500;
  text-decoration: none;
  margin-top: 2rem;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 1rem;
  color: #5e5d5d;
}

/* Offers*/
.offers {
  height: 47.4rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.offers__card {
  width: 60rem;
  height: 15.5rem;
  display: flex;
  align-items: flex-start;
}
.offers__card:not(:last-child) {
  margin-bottom: 6rem;
}
.offers__card--img {
  width: 18.7rem;
  margin-right: 2rem;
  height: 100%;
}
.offers__card--p1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.offers__card--p2 {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Signup*/
.signup {
  height: 35.3rem;
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.signup__header {
  font-weight: 300;
  margin-bottom: 5.5rem;
  max-width: 60rem;
  text-transform: uppercase;
}
.signup__btn {
  width: 25rem;
  height: 4.5rem;
  background-color: #ec5483;
  color: white;
  text-transform: uppercase;
}

/* Footer*/
.footer {
  height: 30rem;
  width: 100%;
  background-color: #38404b;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
.footer__logo {
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
  margin-bottom: 5rem;
}
.footer__tools {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.footer__tools--1 {
  display: inline-block;
  color: #bcc9dd;
}
.footer__tools--1:not(:last-child) {
  margin-right: 2rem;
}
.footer__p {
  font-size: 1rem;
  color: #bcc9dd;
  font-weight: 300;
}

/*# sourceMappingURL=index.css.map */
