/* Base css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #6c6c6c;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-weight: 500;
  font-size: 3rem;
  flex-grow: 1;
  margin-left: 13.5rem;
}
@media (max-width: 576px) {
  .header__title {
    margin-left: 2rem;
  }
}
.header__tools {
  font-size: 1.8rem;
  font-weight: 300;
}
.header__tools--1 {
  display: inline-block;
}
.header__tools--1:not(:last-child) {
  margin-right: 2rem;
}

.navbar-collapse {
  flex-grow: 0;
  margin-right: 13.5rem;
}

/* Main */
.main {
  height: 80vh;
  background-image: url("images/WhatsApp Image 2020-04-25 at 23.15.19.jpeg");
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.main__header {
  font-size: 5.3rem;
  font-weight: 300;
  margin-bottom: 5rem;
  color: #4d4b4a;
  /* text-shadow:
  -1px -1px 0 #ec5483,
  1px -1px 0 #ec5483,
  -1px 1px 0 #ec5483,
  1px 1px 0 #ec5483; */
}
.main__header--1 {
  font-weight: 600;
}
.main__btn {
  width: 22rem;
  height: 4.5rem;
  border-radius: 5rem;
  background-color: #ec5483;
  border: none;
  color: white;
  transition: all 0.2s;
  font-size: 1.5rem;
}
.main__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.main__btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Cards*/
.cardsss {
  margin-bottom: 10rem;
}
.cardsss__layout {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10rem;
}
.cardsss__layout--icon {
  font-size: 5rem;
}
.cardsss__layout--p {
  margin-top: 3rem;
}
.cardsss__layout--btn {
  font-weight: 500;
  text-decoration: none;
  margin-top: 3.5rem;
  text-transform: uppercase;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  transition: all 0.2s;
}
.cardsss__layout--btn:hover {
  transform: translateY(-3px);
  cursor: pointer;
}
.cardsss__layout--btn:active {
  transform: translateY(1px);
}

/* Reviews*/
.reviews {
  margin-bottom: 10rem;
}
.reviews__box {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
  padding: 0 5%;
}
@media (max-width: 576px) {
  .reviews__box {
    padding: 0;
  }
}
.reviews__box--p {
  padding: 3rem 2rem;
  border: 1px solid rgba(128, 128, 128, 0.205);
}
.reviews__box--p-pointer {
  width: 1rem;
  height: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.205);
  border-right: 1px solid rgba(128, 128, 128, 0.205);
  margin-left: 50%;
  margin-bottom: 2rem;
  margin-top: -1.5rem;
  transform: rotate(45deg) translateY(50%) translateX(-50%);
  background-color: white;
}
.reviews__box--profile {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews__box--imgBox {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
.reviews__box--img {
  height: 100%;
  backface-visibility: hidden;
}

/* Video*/
.video {
  text-align: center;
  margin-bottom: 10rem;
}

/* Posts*/
.pics__post--img {
  width: 100%;
  margin-bottom: 3.5rem;
}
.pics__post--cap1 {
  font-weight: 500;
  display: block;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.pics__post--cap2 {
  font-weight: 300;
  display: block;
  font-size: 1.3rem;
  margin-bottom: 9.5rem;
}

/* Nav*/
.nav {
  background-image: url("images/WhatsApp Image 2020-04-25 at 23.56.59.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 5rem;
  padding: 10% 0;
  margin-bottom: 10rem;
}
.nav__block {
  background-color: #dee2ebc9;
}
.nav__el {
  flex-grow: 1;
  width: 28rem;
  font-size: 1.5rem;
  display: flex;
  flex-flow: row;
  padding: 2rem;
  text-align: left;
}
.nav__el--icon {
  font-size: 3rem;
  margin-right: 2rem;
}
.nav__el--p {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}
.nav__el--btn {
  font-weight: 500;
  text-decoration: none;
  margin-top: 2rem;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 1rem;
  color: #5e5d5d;
  transition: all 0.2s;
}
.nav__el--btn:hover {
  transform: translateY(-3px);
  cursor: pointer;
}
.nav__el--btn:active {
  transform: translateY(1px);
}

/* Offers*/
.offers {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}
.offers__card:not(:last-child) {
  margin-bottom: 6rem;
}
.offers__card--img {
  margin-right: 2rem;
  height: 100%;
}
.offers__card--p1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.offers__card--p2 {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Signup*/
.signup {
  height: 35.3rem;
  font-size: 1.4rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.signup__header {
  font-weight: 300;
  margin-bottom: 5.5rem;
  max-width: 60rem;
  text-transform: uppercase;
}
.signup__btn {
  width: 25rem;
  height: 4.5rem;
  background-color: #ec5483;
  color: white;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
}
.signup__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.signup__btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Footer*/
.footer {
  height: 30rem;
  background-color: #38404b;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
.footer__logo {
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
  margin-bottom: 5rem;
}
.footer__tools {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.footer__tools--1 {
  display: inline-block;
  color: #bcc9dd;
  transition: all 0.2s;
}
.footer__tools--1:hover {
  transform: translateY(-3px);
  cursor: pointer;
}
.footer__tools--1:active {
  transform: translateY(1px);
}
.footer__tools--1:not(:last-child) {
  margin-right: 2rem;
}
.footer__p {
  font-size: 1rem;
  color: #bcc9dd;
  font-weight: 300;
}

/*# sourceMappingURL=index.css.map */
