/* Cards*/
.cardsss {
    margin-bottom: 10rem;

    &__layout {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 10rem;

        &--icon {
            font-size: 5rem;
        }
        &--p {
            margin-top: 3rem;
        }
        &--btn{
            font-weight: 500;
            text-decoration: none;
            margin-top: 3.5rem;
            text-transform: uppercase;
            background: transparent;
            border: none;
            font-size: 1.5rem;
            transition: all .2s;
            

            &:hover {
                transform: translateY(-3px);
                cursor: pointer;
              }
            &:active {
                transform: translateY(1px);
            }
        }
    }

}