/* Header */
.header {
    &__title {
        font-weight: 500;
        font-size: 3rem;
        margin-left: 25%;
        margin-right: 5%;
    }
    &__tools {
        font-size: 1.8rem;
        font-weight: 300;

        &--1 {
            display:inline-block;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }

}