/* Offers*/
.offers {
    height: 47.4rem;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    &__card {
        width: 60rem;
        height: 15.5rem;
        display: flex;
        align-items: flex-start;

        &:not(:last-child){
            margin-bottom: 6rem;
        }
        &--img {
            width: 18.7rem;
            margin-right: 2rem;
            height: 100%;
        }
        &--p1 {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 2.5rem;
        }
        &--p2 {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}