/* Offers*/
.offers {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;

    &__card {

        &:not(:last-child){
            margin-bottom: 6rem;
        }
        &--img {
            margin-right: 2rem;
            height: 100%;
        }
        &--p1 {
            font-size: 1.5rem;
            font-weight: 500;
        }
        &--p2 {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}