/* Posts*/
.pics {
    &__post {
        
        &--img {
            width: 100%;
            margin-bottom: 3.5rem;
        }
        &--cap1 {
            font-weight: 500;
            display: block;
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }
        &--cap2 {
            font-weight: 300;
            display: block;
            font-size: 1.3rem;
            margin-bottom: 9.5rem;
        }
    }

}